$primary: #800020;
$primary-overlay: rgba(128,0,32,0.8);

body{
    margin-top: 6rem;
}

.paw-logo{
    color: #800020;

// navigation
.navbar{
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background: #fff;

    .nav-item{
        font-size: 1.4rem;
        padding-right: 1.4rem;
    
    }
}

// slogan container
#showcase{
    position: absolute;
    top: 5rem;
}

#showcase:after{
    content: '';
    display: block;
    clear: both;
}

.info-header{
    width: 50%;
    margin: auto;
    border-bottom: 1px #ddd solid;
}

.logo-text{
    font-family: 'Monoton', cursive;
    color: #800020;
}

.carousel-inner{
    height: calc(100vh - 6rem) !important;
}

#search-bar{
    color: #800020;
}

// @media screen and (max-width: 1300px){
//     #showcase{
//         position: absolute;
//         left: 20rem;
//     }
// }

@media(max-width: 768px){
    #showcase{
        min-height: 500px;
        position: absolute;
        top: 20%;
        h1{
            font-size: 4rem;
        }
    }
    .mb-resp{
        margin-bottom: 1rem;
    }
    .images{
        max-height: 800px;
    }
}
