body {
  margin-top: 4rem;
  /* Sticky Footer */
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}

/* NAVIGATION */
.navbar {
  box-shadow: 2px 2px 5px #888888;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

.paw-logo {
  color: #800020; }

/* SLOGAN DISPLAY */
#showcase {
  position: absolute;
  top: 5rem; 
  font-family: 'Monoton', cursive;
  font-size: 1rem;
  color: #800020;
}

  /* .typewriter{
  width: 31rem;
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: .1em;
  font-size: 4.4rem;
  animation: typing 2s steps(40, end);
  }

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

#showcase:after {
  content: '';
  display: block;
  clear: both; }

/* CAROUSEL */
.container-items {
  margin: 7rem auto;
  width: 250px;
  height: 200px;
  position: relative;
  left: 15rem;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: three-dimensions-circle 200s linear infinite;
}

.item {
  position: absolute;
  opacity: 0.95;
}

.img-border{
  border-radius: 1rem;
  box-shadow: 1px 1px 30px #800020;
}

.img1 {
  transform: rotateY(0deg) translateZ(350px);
}

.img2 {
  transform: rotateY(60deg) translateZ(350px);
}

.img3 {
  transform: rotateY(120deg) translateZ(350px);
}

.img4 {
  transform: rotateY(180deg) translateZ(350px);
}

.img5 {
  transform: rotateY(240deg) translateZ(350px);
} 

.img6 {
  transform: rotateY(300deg) translateZ(350px);
}

@keyframes three-dimensions-circle {
  to {
    transform: rotateY(2000deg);
  }
}

/* search bar and submit btns */

/* google api */
#google-maps{
    width: 450px;
    height: 350px;
    position: relative;
    overflow: hidden;
    margin: 1rem 4.8rem 0 10.5rem;
    box-shadow: 5px 10px 25px #888888;
}

.container-dimension{
  width: 40rem;
  float: left;
}

.accordion1{
  margin: 1rem 4.5rem 0 0;
}

/* ABOUT US */
.about-border{
  box-shadow: 2px 2px 5px #888888
}

.about-container-border{
  padding: 2rem 0;
  box-shadow: 5px 10px 25px #888888;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #800020 solid; }

.logo-text {
  font-family: 'Monoton', cursive;
  color: #800020; }

/* TEXTAREA */
#comment{
  height: 150px;
}

.h3-comment{
  font-family: 'Monoton', cursive;
  letter-spacing: 3px;
  color: #800020;
  margin-top: 2rem;
}

/* USER REVIEWS */
.list-group{
  box-shadow: 5px 10px 25px #888888;
}

.comment-barks{
  font-family: 'Monoton', cursive;
  letter-spacing: 5px;
  color: #800020;
}

#bottom-right-logo{
  margin-left: 4rem;
}


  /* Sticky Footer */
  .wrapper {
    flex: 1;
  }
  
  #fav {
     display: none;
   }
  
  .review-form {
    display: none;
  }
  
  #app {
    margin-bottom: 50px;
  }
  
  #key {
    font-weight: bold;
  }
  
  #value {
    font-style: italic;
  }

  /* LOGIN */
  .login {
    padding-top: 50px;
    padding-bottom: 50px;
  }




/* media queries */

/* 1500px */
@media screen and (max-width: 1500px){

#carouselImgSlides{
    visibility: hidden;
    position: absolute;
  }
}

/* 1200px */
@media screen and (max-width: 1200px){
.container-items {
   left: 0;
   margin-top: 4rem;
   margin-bottom: 0;
   top: 4rem;
   }
 
#showcase{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 0 !important;
  }
 
.typewriter{
    font-size: 3rem;
  }

#google-maps{
  margin: 0 4.8rem 0 10.5rem; 
 }

 /* 995px */
 @media screen and (max-width: 995px){

  .container-dimension{
    float: none;
    margin-left: 5rem;
  }

  .accordion1 {
    margin: 1rem 0rem 0px 0px;
}

#bottom-right-logo{
  display: none;
}

 }

/* 770px */
 @media screen and (max-width:770px){

  body{
    margin-top: 3.7rem;
  }

  #showcase{
    position: relative;
    top: 1rem;
  }

  .about-border{
    padding-top: 0 !important;
  }

  .about-container-border {
    margin-top: 3rem;
  }

  .container-items{
    display: none;
  }

  #carouselImgSlides{
    visibility: visible;
    position: relative;
  }

  .carousel-inner{
    height: calc(100vh - 3.7rem);
  }

  .container-dimension{
    float: none;
    margin-left: 0;
  }

 }

 /* 580px */
 @media screen and (max-width:580px){

  .container-dimension{
    position:relative;
    right: 10rem;
 }

}

@media screen and (max-width:580px){

  .snd-carousel-display{
    height: 30rem;
  }

  #showcase{
    position: absolute;
    top: 10rem;
    left: 3rem;
    font-size: 5rem;
  }

  .typewriter{
    color: #fff
  }

}

/* @media (max-width: 768px) {
  #showcase {
    min-height: 500px;
    position: absolute;
    top: 20%; }
    #showcase h1 {
      font-size: 4rem; }

  .mb-resp {
    margin-bottom: 1rem; }

  .images {
    max-height: 800px; } } */

